/* Estilos globais */

body {



    font-family: Arial, sans-serif;

    

    margin: 0;

    

    padding: 0;

    

    background-color: #f4f4f4;

    

    color: #333;

    

    }

    

    header {



        background-color: #ff69b4;

        

        padding: 10px 0;

        

        }

        

        header nav ul {

        

        list-style: none;

        

        padding: 0;

        

        text-align: center;

        }



        header nav ul li {



            display: inline

            margin-right: 15px;
        }



    



    header nav ul li a {

    

    color: #ffb6c1; 

    text-decoration: none;

    

    }

    

    header nav ul li a:hover { 

        text-decoration: underline;

     }

    

    main {

    

    padding: 20px;

    

    text-align: center;

    

    }

    

    footer {

    

    background-color: #ff69b4;

    

    color: #ffb6c1;

    

    text-align: center;

    

    padding: 10px 0;

    

    position: fixed;

    

    width: 100%;

    

    bottom: 0;


    }